
<html>
    <head>
      <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
    {% extends "template.html" %}
    {% block content %}
    <div id="container">
            <div class="pagetitle">
                <h1>Submit a form</h1>
            </div>
            <div id="main">
                <form method="post" action="{{ url_for('submitted_form') }}">
                
                <label for="name">Name:</label>
                <input type="text" name="name"><br />
    
                <label for="phone">Phone Number:</label>
                <input type="text" name="phone"><br />
    
                <label for="issue">Issue:</label>
                <input type="text" name="issue"><br />
    
                <label for="comment">Comment:</label>
                <textarea name="comment"></textarea><br />
    
                <input type="submit">
    
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
  </html>