<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <div id="container">
            <div class="pagetitle">
              <h1>View submitted</h1>
            </div>
            <div id="main">
              <p>Here are all the forms</p>
              <p>
                 <strong>Name</strong>: {{name}} <br>
                 <strong>Phone</strong>: {{phone}} <br>
                 <strong>Issue</strong>: {{issue}} <br>
                 <strong>Comment</strong>: {{comment}}
              </p>
            </div>
            <li><a href="{{ url_for('home') }}">Return Home</a></li>
          </div>

    
    {% endblock %}
  </body>
</html>