
{% extends "templates/base.html" %}
{% block content %}

<div class="container py-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Student Index</h1>
        </div>
        <div class="list-group-flush">
            {% for student in students %}
                <a class="list-group-item d-flex" href="/students/{{student.key.id()}}">
                    <div class="w-25">{{student.name}}</div>
                    <div class="w-25">{{student.lecturer}}</div>
                    <div class="w-25">{{student.email}}</div>
                    <div class="w-25">{{student.student_number}}</div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
