
{% extends "templates/base.html" %}
{% block content %}

<div class="container py-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Create Account</h1>
            <form method="post" action="/students/create">
                <div class="form-group">
                  <label for="InputIdentity">Name</label>
                  <input type="text" class="form-control" id="InputIdentity" name="InputIdentity" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="InputEmail">Email address</label>
                  <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>



    </div>
</div>

{% endblock %}
