
<html>
    <head>
      <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
    {% extends "templates/template.html" %}
    {% block content %}
    <div id="container">
            <div class="pagetitle">
                <h1>Create a student account</h1>
            </div>
            <div id="main">
                <form method="post" action="/CreateUserController">
                
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="{{ first_name }}"><br />
    
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="{{ last_name }}"><br />
    
                <label for="username">Username:</label>
                <input type="text" name="username" value="{{ username }}"><br />
 
                <label for="student_number">Username:</label>
                <input type="text" name="student_number" value="{{ student_number }}"><br />
    
                <input type="submit">
    
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
  </html>