
<html>
    <head>
      <title>Submit a form</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
    {% block content %}
    <div id="container">
            <div class="pagetitle">
                <h1>Submit a form</h1>
            </div>
            <div id="main">
                <form method="post" action="/Submit">
                
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{ name }}"><br />
    
                <input type="submit">
    
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
  </html>