<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Webapp Parent Template</title>



</head>

<body>
  <header>
    <div class="container" style="color:aqua">
      <h1 class="logo">Gwent Web App</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ 'checkUsers' }}">Submit MItigating Circumstance</a></li>
          <li><a href="{{ 'CreateStudent' }}">Create Student</a></li>
          <li><a href="{{ 'createStudent' }}">Login</a></li>
          <li><a href="{{ 'reateStudent' }}">Logout</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
  <div id="content">{% block content %}{% endblock %}</div>


</body>
</html>