
{% extends "templates/base.html" %}
{% block content %}

<div class="container py-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Student Index</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">Student Name</div>
                <div class="col">Student Email</div>
                <div class="col">Student Number</div>  
            </div>     
        </div>     
        <div class="card .list-group-flush">
            {% for student in students %}
                <a class="d-flex flex-row" href="/students/{{student.key.id()}}">
                    <div class="col">{{student.name}}</div>
                    <div class="col">{{student.email}}</div>
                    <div class="col">{{student.student_number}}</div>
                </a>
            {% endfor %}
        </div>
        </div>
    </div>
</div>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio <button type="button" class="btn btn-primary">Primary</button> </li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>


{% endblock %}
